/* css reset  */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
  color: #3A2929;
  font-size: 14px;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-text-size-adjust: none;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px Microsoft Yahei, Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* css common */
.clearfix {
  /**zoom:1;*/
  height: 0;
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
header,
section,
article,
footer {
  display: block /*\9*/;
}
body {
  transition: all .3s;
  background-repeat: no-repeat;
}
h2 {
  color: green;
}
.titlestyle {
  font-size: 14px;
  color: #8B7F7F;
  padding: 10px 0.25rem;
}
.titlestyle p {
  font-size: 12px;
  color: #FF6562;
  padding-top: 2px;
}
.bottombox {
  width: 100%;
  height: 50px;
  display: flex;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #F0F0F0;
}
.bottombox span {
  display: block;
  flex: 1;
  text-align: center;
  color: #3A2929;
  font-size: 16px;
  position: relative;
}
.bottombox span.ok {
  color: #FF6562;
}
.bottombox span.ok::after {
  display: none;
}
.bottombox span.okbg {
  background-color: #FF6562;
  color: #fff;
}
.bottombox span.okbg::after {
  display: none;
}
.bottombox span::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: #F0F0F0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.popup {
  background-color: #fff;
  border-radius: 4px;
}
.popup .popuptop {
  text-align: center;
  font-size: 16px;
  color: #3A2929;
  padding: 30px;
}
.popup .popupbottom {
  height: 56px;
  display: flex;
  border-top: 1px solid #F0F0F0;
}
.popup .popupbottom span {
  display: block;
  flex: 1;
  line-height: 56px;
  text-align: center;
  font-size: 16px;
  color: #3A2929;
  position: relative;
}
.popup .popupbottom span.ok {
  color: #FF6562;
  border-left: 1px solid #F0F0F0;
}
input::placeholder,
textarea::placeholder {
  color: #BFBFBF;
  font-size: 14px;
}
.c3 {
  color: #BFBFBF;
  ont-size: 14px;
}
.infobox {
  padding-bottom: 50px;
}
.infobox .imgbox {
  width: 100%;
  height: 3.94736842rem;
  overflow: hidden;
  position: relative;
}
.infobox .imgbox > img {
  display: block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.infobox .imgbox > div {
  padding-top: 1rem;
}
.infobox .imgbox > div img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.infobox .imgbox > div p {
  text-align: center;
}
.infobox .imgbox > div p.text {
  margin-bottom: .5rem;
}
.infobox .ctlist {
  background-color: #fff;
}
.infobox .ctlist .row1 {
  width: 7rem;
  font-size: 16px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #F0F0F0;
}
.infobox .ctlist .row {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #F0F0F0;
}
.infobox .ctlist .row .yd-checkbox-icon {
  position: relative;
  top: -3px;
}
.infobox .ctlist .row:last-child {
  border-bottom: none;
}
.infobox .ctlist .row > em {
  color: #8B7F7F;
  text-align: right;
}
.infobox .ctlist .row .mapbtnlook {
  border: none;
  outline: none;
  font-size: 14px;
  color: #FF6562;
  margin-left: 10px;
}
.infobox .ctlist .row .rowdiv {
  flex: 1;
  position: relative;
}
.infobox .ctlist .row .rowdiv > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
}
.infobox .ctlist .row .rowdiv select {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}
.infobox .ctlist .row > span {
  color: #3A2929;
  display: block;
  width: 80px;
  min-width: 80px;
}
.infobox .ctlist .row > span.max {
  width: 120px;
  min-width: 120px;
}
.infobox .ctlist .row > input {
  display: block;
  border: none;
  flex: 1;
  text-align: right;
  outline: none;
}
.infobox .ctlist .row > select {
  display: block;
  border: none;
  outline: none;
}
.infobox .content {
  background-color: #fff;
  padding: 0.25rem;
}
.infobox .content img {
  max-width: 100%;
}
.infobox .content_h5 {
  background-color: #fff;
  padding: 0.25rem;
}
.infobox .content_h5 textarea {
  width: 100%;
  border: none;
  height: 80px;
  border-bottom: 1px solid #F0F0F0;
}
.infobox .filebox {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.infobox .filebox .addimg {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #e0e0e0;
  position: relative;
  margin-bottom: 10px;
}
.infobox .filebox .addimg input {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.infobox .filebox .contentimgbox {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.infobox .filebox .contentimgbox > span {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
}
.infobox .filebox .contentimgbox img {
  display: block;
  width: 100%;
  height: 100%;
}
.infobox .tishi {
  font-size: 12px;
  color: #8B7F7F;
}
.changefilelist {
  background-color: #fff;
  height: 128px;
  border-radius: 5px;
}
.changefilelist p {
  height: 64px;
  box-sizing: border-box;
  line-height: 64px;
  border-bottom: 1px solid #F0F0F0;
  font-size: 16px;
  color: #3A2929;
  padding: 0 30px;
  position: relative;
}
.changefilelist p:last-child {
  border: none;
}
.changefilelist p input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.tangram-suggestion-main {
  z-index: 9999;
}
.mapclose {
  width: 100%;
  height: 40px;
  background-color: #FF6562;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
